<!DOCTYPE html>
<html lang="en">
<head>
    <title>mY++ | Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png"> 
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootbox.min.css">
    <link rel="stylesheet" href="/css/parsley.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/initial_style.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="inner nav navbar w3-card-2">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <i class="fa fa-bars" style="font-size: 300%"></i>                       
                    </button>
                    <a class="navbar-brand" href="#"><img src="/img/logo.png"  width="120"></a>
                </div>
                <div class="collapse navbar-collapse w3-right" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="linkList"><a href="#"><span class="navbar-btn w3-dark-grey btn btn-md btn-nav">Get Support</span></a></li>
                        <li class="linkList" data-toggle="modal" data-target="#myModal">
                            <a href="#"><span class="navbar-btn w3-dark-grey btn btn-md btn-nav">About Us</span></a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="inner">
                <div class="scrollable">
                    <div class="w3-ul forRegistrationErrors"></div>
                    <div class="w3-container">
                        <h1 class="my-blue">Expired Link</h1>
                        <p>The link has expired, please check your emails for latest link we sent you.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer w3-card-2">
            <div class="inner innerFooter w3-center">
                    <small> Terms and Conditions | Privacy Policy | Copyright &copy 2019</small>
            </div>
        </div>
    </div>
    <!-- footer ends -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <script src="/js/parsley.min.js"></script>
</body>
</html>